<h1>Hello, Rails!</h1>
<%#= image_tag "ab.png" ,width: '1255',height: '600'  %><br>
<%#= image_tag "1.gif" ,size: 10*10 %>
<%#= image_tag "https://image.flaticon.com/icons/png/512/29/29173.png" ,size: 6*8%>
<%#= audio_tag "https://www.youtube.com/watch?v=iaz4kcap3Gk" ,autoplay: "true"%>

<button type="button" ><%= link_to 'my blog', controller: 'articles' %></button>
<%#= video_tag "a.mp4", :size => "320x240", :controls => true %>



<%#= audio_tag "r.mp3" , autoplay: true%>

 
 	
